/* header related styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 50px 90px;
    align-items: center;
    display:flex;
    justify-content: space-between;
}
.banner-content{
  max-width: 500px;  
}
.banner .main-picture{
    width: 635px;
    height: 800px;
}
.banner-slogan{
    margin-bottom: 0;
    color: black;
    font-family: Lato;
    font-size: 80px;  
}
.paragraph{
    margin-top: 32px;
    margin-bottom: 0;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
}
.btn-primary{
    margin-top: 32px;
    border-radius: 5px ;
    padding: 20px 43px;
    border: 0;
    background-color: #E55473;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
/* shared style */
.highlight{
    color: red;
}
.sign-up{
    max-height: 500px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
    margin-top: 30px;
    padding: 90px 200px;
    display:flex;
    justify-content: space-between;
}
/* shared styles */
.highlight{
    color:red
}
.text-style{
    max-width: 500px;
  text-align: center;  
}
.signup-picture{
    width: 318px;
    height: 420px; 
}
.image-style{
    max-width: 500pxpx;
    padding:0px 30px;
    display: flex;
   
}
.img-size{
    width: 342px;
    height: 396px;
    margin: 5px;
}
.text{
    text-align: center;
}
.instagram{
    max-width: 1430px;
}
.width{
    text-align: center;
    max-width: 400px;
}


